<div class="row border border-2 py-1">
	<div class="col-1 d-inline-flex">
		<p>Status:</p>
		<div *ngIf="!isConnected">
			<p class="badge text-bg-danger ms-1">NOT CONNECTED YET</p>
		</div>
		<div *ngIf="isConnected">
			<p class="badge text-bg-success ms-1">CONNECTED</p>
		</div>
	</div>
	<div class="col-3 ms-3" *ngIf="isConnected">
		<p>Active players</p>
		<ul>
			<li *ngFor="let player of _playerService.activePlayers">
				<i class="bi bi-person"> {{ player.username }} </i>
			</li>
		</ul>
	</div>
</div>

<app-welcome-page [isConnected]="isConnected" (connectionEvent)="isConnected=$event"></app-welcome-page>
<app-estimation></app-estimation>
