<h1>Lobby</h1>
<div class="row border border-2">
	<div class="col-2">
		<p>Status:</p>
		<div *ngIf="!isConnected">
			<p class="text-danger">NOT CONNECTED YET</p>
		</div>
		<div *ngIf="isConnected">
			<p class="text-success">CONNECTED</p>
		</div>
	</div>
	<div class="col-3 ms-3" *ngIf="isConnected">
		<p>Active players</p>
		<ul>
			<li *ngFor="let player of _playerService.activePlayers">
				<i class="bi bi-person"> {{player.username}} </i>
			</li>
		</ul>
	</div>
</div>

<app-welcome-page [isConnected]="isConnected" (connectionEvent)="isConnected=$event"></app-welcome-page>
<app-estimation></app-estimation>
