<div class="row border border-2 py-1">
	<div class="col-9">
		<app-welcome-page [isConnected]="isConnected" (connectionEvent)="isConnected=$event"></app-welcome-page>
		<div class="col-2 d-inline-flex">
			<p>Status:</p>
			<div *ngIf="!isConnected">
				<p class="badge text-bg-danger ms-1">NOT CONNECTED YET</p>
			</div>
			<div *ngIf="isConnected">
				<p class="badge text-bg-success ms-1">CONNECTED</p>
			</div>
		</div>
	</div>
	<div class="col-1 ms-3" *ngIf="isConnected">
		<p>Active players</p>
		<ul>
			<li *ngFor="let player of _playerService.activePlayers">
				<div class="d-inline-flex gap-1">
					<i class="bi bi-person"></i>
					@switch (player.status) {
						@case (PlayerStatus.IS_ESTIMATING) {
							<p class="badge text-bg-warning" >is estimating</p>
						}
						@case (PlayerStatus.MADE_ESTIMATION) {
							<p class="badge text-bg-success">estimated</p>
						}
						@default {
							<p class="badge text-bg-danger">not a valid state</p>
						}
					}
					<p>{{ player.username }}</p>
				</div>
			</li>
		</ul>
	</div>
</div>


<div class="d-flex justify-content-center">
	<app-estimation></app-estimation>
</div>
